<header class="py-5 text-center">
    <div class="md:flex justify-around items-center">
        <h2 class="mb-0 text-3xl">
            <a href="/">
                <img src="/assets/img/logo.svg" alt="logo" class="w-10 inline-block"> Momentum
            </a>
        </h2>
        <div class="hidden md:block"></div>
    </div>
</header>