<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs', { title: 'Home', link: 'https://momentum-0xl3.onrender.com/' }) %>
    </head>
    <body>
        <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
            <div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]">
                <div class="flex flex-col min-h-screen">
                    <!-- Header Section -->
                    <%- include('partials/header.ejs') %>
                    <!-- Main Content Section -->
                    <div class="text-center flex flex-col justify-center items-center flex-grow pb-5 my-10">
                        <p class="lg:w-1/2 text-6xl my-3 px-3">
                            Set Your Goals, Achieve Success, and Earn Points for Every Milestone You Reach. Start Planning Today!
                        </p>
                        <div class="flex gap-4 my-4">
                            <a href="/auth/login" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 shadow-lg shadow-purple-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                Log In
                            </a>
                            <a href="/auth/signup" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 shadow-lg shadow-purple-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                Sign Up
                            </a>
                        </div>
                        <a href="/auth/google" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white  focus:ring-4 focus:outline-none focus:ring-blue-300">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                                <i class="fa-brands fa-google"></i>
                                Login with Google
                            </span>
                        </a>
                        <a href="/auth/github" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white  focus:ring-4 focus:outline-none focus:ring-blue-300">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                                <i class="fa-brands fa-github"></i>
                                Login with GitHub
                            </span>
                        </a>
                    </div>
                    <!-- Footer -->
                    <%- include('partials/footer.ejs') %>
                </div>
            </div>
        </div>
        <script src='js/main.js'></script>
    </body>
</html>
